<nav>
  <div class="site-title">
    <a href=""><h1>Planet-z</h1></a>
    <p>a node.js app</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>
