<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
  <body>
<%- include('./partials/nav.ejs') %> 

    <div class="blog content">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit consequuntur aspernatur repudiandae delectus et, fugiat eius provident distinctio perferendis eaque fuga iste magnam unde dolores corrupti laboriosam ipsum neque! Ut.
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis magni deleniti, quibusdam rem corrupti numquam. Necessitatibus, soluta obcaecati neque quod delectus provident asperiores.</p>
      </p>
    </div>
  </body>
</html>
